<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <h1>Edit <%= plant.common_name %></h1>
            <form class="col s12" action="/account/home" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" label="name" name="common_name" placeholder="<%= plant.common_name %>" value="<%= plant.common_name %>">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" label="img" name="image_url" placeholder="<%= plant.image_url %>" value="<%= plant.image_url %>">
                    </div>
                    <div class="col s12">
                        <button class="waves-effect waves-light btn" type="submit">UPDATE</button>
                        <input type="hidden" name="id" value="<%= plant.id %>">
                        <input type="hidden" name="scientific_name" value="<%= plant.scientific_name %>">
                        <input type="hidden" name="slug" value="<%= plant.slug %>">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include('../includes/end.ejs') %>