<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main class="main_bg_img">
    <div class="container">
             <div class="login_form">
                <div class="intro">
                    <h1>BUD-DY</h1>
                    <img class="monstera" src="/images/monstera.png" alt="monstera leaf">
                    <p>Bud-dy is a gardening and houseplant management app<br> using <a target="_blank" href="https://trefle.io/">Trefle</a>'s botanical data source API.</p>
                </div>
                <% if (!isAuth) { %>
                <form action="/" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="input-field col m6 s12">
                        <label for="email">Email</label>
                        <input type="email" label="email" name="email">
                    </div>
                    <div class="input-field col m6 s12">
                        <label for="password">Password</label>
                        <input type="password" label="password" name="password">
                    </div>
                    <div class="row">
                        <div class="col m6 s6">
                            <button class="waves-effect waves-light btn" type="submit">LOGIN</button>
                        </div>
                        <div class="col m6 s6"><p class="small">Can't log in? <a href="/reset">Reset your password.</a></p></div>
                    </div>
                    <% if (errorMessage) { %>
                        <div class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                </form>
                <% } %>
             </div>
    </div>
</main>
<%- include('includes/end.ejs') %>