<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
  <div class="container">
      <div class="row">
              <div class="col s12">
                <a href="#!" class="breadcrumb">First</a>
                <a href="#!" class="breadcrumb">Second</a>
                <a href="#!" class="breadcrumb">Third</a>
              </div>
        <div class="col m4">
          <img class="top_img" src="<%= plant.image_url %>" alt="<%= plant.common_name %>">
        </div>
        <div class="col m8">
          <% if (plant.common_name) { %>
            <h1><%= plant.common_name %></h1>
          <% } else { %>
            <h1><%= plant.scientific_name %></h1>
          <% } %>
        </div>
      </div>
      <hr>
      <div class="row">

      </div>
      <div class="row">
          <p><%= plant.scientific_name %></p>
      </div>
      <div class="row">
        <% if (isAuth) { %>
        <form action="/account/home" method="POST">
          <button class="btn" type="submit">Add To My Plants</button>
          <input type="hidden" name="common_name" value="<%= plant.common_name %>">
          <input type="hidden" name="scientific_name" value="<%= plant.scientific_name %>">
          <input type="hidden" name="genus" value="<%= plant.genus %>">
          <input type="hidden" name="family" value="<%= plant.family %>">
          <input type="hidden" name="image_url" value="<%= plant.image_url %>">
          <input type="hidden" name="slug" value="<%= plant.slug %>">
      </form>
      <% } %>
      </div>
  </div>
</main>
<%- include('includes/end.ejs') %>