<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<main>
    <div class="container">
        <div class="row">
            <h1>Plant Page</h1>
            <div class="row search">
                <form action="/plants" method="POST">
                    <input type="text" name="searchPlant" placeholder="enter plant">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Plants:</h2>
            <% for(var i=0; i < data.length; i++) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<%= data[i].image_url %>">
                    </div>
                    <div class="card-content">
                        <% if (data[i].common_name !== null) { %>
                            <span class="card-title activator grey-text text-darken-4"><%= data[i].common_name %></span>
                        <% } else { %>
                            <span class="card-title activator grey-text text-darken-4"><%= data[i].scientific_name %></span>
                        <% }%>
                        <i class="material-icons right">MORE</i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= data[i].common_name %><i class="material-icons right">CLOSE</i></span>
                        <p><%= data[i].scientific_name %></p>
                        <p><a href="/plant-details/<%= data[i].slug %>">Plant Details</a></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>